[submodule "external_modules/push"]
	path = external_modules/push
	url = git@github.com:Ulydev/push.git
[submodule "external_modules/hump"]
	path = external_modules/hump
	url = git@github.com:vrld/hump.git
[submodule "external_modules/3DreamEngine"]
	path = external_modules/3DreamEngine
	url = git@github.com:kikonen/3DreamEngine.git
